.venue-info {
  position: relative;
  overflow: hidden;
  margin-top: 50px;
}

.venue-divider {
  display: none;
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  height: 1000px;
  background: #ccc;;
  width: 1px;

  @include respond-to(sm) {
    display: block;
  }
}