.venue-info {
  position: relative;
  overflow: hidden;
  margin-top: 50px;
}

.venue-divider {  
  position: static;
  width: 100%;
  clear: both;
  height: 1px;
  background: #ccc;
  margin: 30px 0;

  @include respond-to(sm) {
    margin: 0;
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    height: 1000px;
    width: 1px;
  }
}