// Breakpoints
$break-sm: 767px;
$break-md: 991px;
$break-lg: 1199px;

// Font
$body-font-color: #333;
$body-line-height: 1.4em;

// Colours
$teal: #008080;

$link-color: $teal;
$link-hover-color: darken( $teal, 10% );