.main-menu-wrap
  .main-menu.container
    .row
      %h4.col-sm-4.menu-logo Alex and Stephen
      .col-sm-8.text-right
        %ul.menu-links
          %li
            %a{:href=> '#'} Our Story
          %li
            %a.active{:href=> '#'} Accommodations
          %li
            %a{:href=> '#'} Registry
          %li.last
            %a{:href=> '#'} RSVP