.map-wrap
  .container
    .row.map-row
      .col-sm-6.map-container
        #venue-map
      .col-sm-4.col-sm-offset-1.map-notes.text-center
        %h4 Note
        %p
          Hunter's Green cannot be accessed from 97th st. You can turn onto Valour Ave from either 127th st or 82nd st.
