.header-wrap
  = image_tag "header-image-temp.jpg", :class => 'header-image'
  .header-overlay
  .header-content.container
    .row
      .col-sm-8.col-sm-offset-2.text-center
        %h1.title-text
          Accommodations
        %p
          Enjoy your visit!

.page-wrap
  .page-content.container
    .row
      .col-sm-8.col-sm-offset-2.text-center
        %h3 Accommodation information to come soon!
