.header-wrap
  = image_tag "header-image-temp.jpg", :class => 'header-image'
  .header-overlay
  .header-content.container
    .row
      .col-sm-8.col-sm-offset-2.text-center
        %h1.title-text
          Accommodations
        %p
          Visiting from out of town?

.page-wrap.page-arrow
  .page-content.container
    .row
      .col-sm-8.col-sm-offset-2.text-center
        %h3 Accommodation information to come soon!
        =#%p We have rooms blocked off for wedding guests at a { hotel name } in the { general location } area. Mention the Brown–Pankratz wedding when you book to get the group discount.


=#.map-wrap
=#  .container
=#    .row.map-row
=#      .col-sm-6.col-sm-offset-3.map-container
=#        #accommodation-map
