.header-wrap
  = image_tag "header-image-temp.jpg", :class => 'header-image'
  .header-overlay
  .header-content.container
    .row
      .col-sm-6.col-sm-offset-5.text-right.header-text
        %h1.title-text
          We're getting married!
        %p
          Stephen asked. Alex said yes. Eight months later, they're getting together in that legally binding sense.
        %a.btn.btn-secondary{:href=> '/rsvp'}
          RSVP

.venue-wrap
  .venue-content.container
    .row.venue-info
      .col-sm-6.text-center
        %h3 The Venue
        %h4 Hunter's Green Golf Club
        %p 
          24427 Twp Rd 542
          %br
          Sturgeon County, AB
          %br
          T8T 1L4
        %p.small
          %i.text-muted
            Ceremony and reception
            %br
            to be held at same venue.

      .vertical-divider
      .col-sm-6.text-center
        %h3 The Day
        %p
          Saturday, August 15th, 2015
        %h4 Ceremony
        %p
          12:15pm

        %h4 Reception
        %p
          Cocktail hour @ 5:00pm
          %br
          Dinner served @ 6:00pm
          %br
          Dance to follow
        %p.small
          %i.text-muted
            Hall will need to be vacated
            %br
            in between ceremony and reception

= render "shared/map"



- # if user_signed_in?
= # link_to "Admin", '/admin'
- # else
= # link_to "Login", new_user_session_path