.header-wrap
  = image_tag "us-jasper.jpg", :class => 'header-image'
  .header-overlay
  .header-content.container
    .row
      .col-sm-8.col-sm-offset-2.text-center.header-text
        %h1.title-text
          Our Story
        %p
          This is the place to be if you want to know a little bit more about us!

.page-wrap
  .page-content.container
    .row.story-intro.over-hidden
      .col-sm-4.col-sm-offset-1
        %h2.text-center Stephen Brown
        %h5.text-muted.text-center.header-desc
          %span The Groom
        %p Stephen is one of the most enthusiastic and passionate people I've ever met - and anyone who has spent time with him will tell you the same thing! He has an extremely diverse set of interests that always seems to be growing. No matter what area these interest are in, whether it be astronomy, web development, photography or online RPGs, he throws his entire self into learning (and sharing) everything he can about the subject.
        %p Beyond his enthusiasm and constant thirst for knowledge, Stephen is a warm-hearted and caring person who can never have too many friends. The more, the merrier, right?! He's always living in the moment and looking for ways to enrich his life and the lives of those around him, whether it's explaining and teaching friends the rules of a new game, figuring out how to code a more efficient ordering system for a major website, or sharing a cute puppy video to brighten someone's day.
        %p The more time I spend with Stephen, the luckier I feel to call him my best friend and fiance. I can't wait to call him my husband.

      .vertical-divider
      .col-sm-4.col-sm-offset-2
        %h2.text-center Alex Pankratz
        %h5.text-muted.text-center.header-desc
          %span The Bride
        %p Alex is my best friend. We have a ridiculous amount of fun together and she is one of the most caring and supportive individuals I know. She's very talented (though she would have you believe otherwise) and is beyond determined.
        %p Some of my favourite times with Alex have been our conversations. Our relationship grew on the backs of long heart to hearts, and that trend has all but slowed down over the past five years. Alex has a unique sense of humour that is a careful mix of wit and brash sarcasm, and if you ask for her opinion, she will always make sure to respond with a well thought out perspective.
        %p Throughout our relationship, Alex has always found ways to surprise and challenge me. Our time together has been some of the happiest years of my life, and I am constantly looking forward to see what life has in store for us.


    .row
      .col-sm-6.col-sm-offset-3.story-main
        %h2.text-center The Couple
        %p Alex saw Stephen for the first time while he was solving a Rubik's cube with a crowd of people around him. This was a rather unusual thing to see in the hallways of high school, so she stopped to watch and chat a little. For some reason, that initial interaction stuck in her mind; Stephen, on the other hand, doesn't remember it at all.

        %p The couple's first official meeting - and the one they both remember - was in Grade 11 in a Design Studies course. Stephen and Alex became close friends almost immediately and continued their friendship throughout the rest of high school. Despite insisting they were "just friends", many of their other friends - and even some parents - were just waiting for something to happen between them.

        %blockquote.quote-left
          "So... should I tell my parents we're dating now?"

        %p Finally, with high school behind them and nearly 2 years of friendship between them, something did happen! Stephen's band, Aphesis, had been scheduled to do their EP release concert one weekend in August, but it was unfortunately canceled. However, that meant he had some extra time that weekend to spend with Alex! After a fun couple of days that included playing in parks, watching Meet the Robinsons, and eating a lot of salt and vinegar chips, it was pretty clear to them that friendship wasn't the only feeling floating around. And so, in the most romantic gesture possible, Alex tentatively asked, "So... should I tell my parents we're dating now?"

        %p Alex's parents were not the least bit surprised about this news; Stephen had been hanging out with the family for a little while now. However, being officially together meant they could do official date nights! Like most recent graduates, money was pretty tight, so they had to get pretty creative with their dates. This led to several enjoyable months of family dinners at home, baking cookies together, going for walks, goofing around on parks, and watching rented movies (yes, those still existed).

        %p After a 3 day "separation" in their first year together - during which they both determined that separating was a terrible idea and resolved to never do it again - Stephen officially asked Alex out by showing up at her door with a red rose, a movie, and a bag of salt and vinegar chips. She knew she'd found a keeper.

        %p Stephen evidently also thought he'd found a keeper; on their first anniversary he "surprised" Alex with a promise ring he'd picked out himself. She was overjoyed - as well as really impressed with his jewelry selection skills - and wore it proudly.

        %p Alex took a slightly different approach to their first anniversary, surprising Stephen with... skydiving. Yes, really. They'd talked about getting a group together for skydiving back in the "just friends" days, so both of them were beyond excited to finally go through with their idea! Thankfully - to many parents' relief - their skydiving experience was perfectly safe and even more awesome than anticipated. So fun, in fact, that skydiving licenses may be in the future for both of them!

        %p Subsequent anniversaries and birthdays continued the "experiences over presents" mentality started in their first year. Stephen and Alex look for every opportunity to treat themselves to a new adventure together, and so have enjoyed concerts, picnics, go karting, star gazing, hiking, roller coasters, and trips to various places including Calgary, Jasper and - most recently - Cancun!

        %p After enjoying several years and many incredible experiences together they decided that an adventure of a different sort was in order: moving in together. And, as anyone who has ever lived with a significant other will tell you, being together all the time ensures that every day is an adventure! Both of them agree that living together has been one of the best decisions they've ever made.

        %blockquote.quote-right
          Alexandria Dawn Pankratz, will you marry me?

        %p Then, after over 4 years together, Stephen thought it might be time to ask Alex to make another decision. With that in mind, on Christmas Day he orchestrated a walk together through a park where they'd had many meaningful conversations prior. As Alex's brother hid nearby and stealthily took pictures, Stephen asked Alex THE QUESTION. The answer, of course, was yes.

        %p So yes, Stephen and Alex are FINALLY getting married! The date has been set for August 15, 2015 - which just so happens to be 2 days after their 5 year anniversary - and neither of them can wait to see what new adventures this phase of life will bring them!

        %div



- # if user_signed_in?
= # link_to "Admin", '/admin'
- # else
= # link_to "Login", new_user_session_path
