.header-wrap
  = image_tag "header-image-temp.jpg", :class => 'header-image'
  .header-overlay
  .header-content.container
    .row
      .col-sm-8.col-sm-offset-2.text-center
        %h1.title-text
          Our Story Page!
        %p
          This is placeholder content to make sure routes are working!

.page-wrap
  .page-content.container
    .row.story-intro.over-hidden
      .col-sm-4.col-sm-offset-1
        %h2.text-center Stephen Brown
        %h5.text-muted.text-center.header-desc
          %span The Groom
        %p Tumblr normcore Blue Bottle hella, hashtag freegan cardigan twee paleo trust fund scenester meh artisan quinoa. Small batch Marfa pour-over PBR narwhal. +1 narwhal craft beer Neutra hashtag kitsch hella chia, Thundercats vinyl cray.
        %p Ugh umami hashtag viral farm-to-table. Messenger bag paleo raw denim occupy. Put a bird on it narwhal cardigan gastropub bespoke Vice lumbersexual twee butcher, yr cold-pressed High Life Neutra pug. Four dollar toast pickled bicycle rights swag asymmetrical.

      .vertical-divider
      .col-sm-4.col-sm-offset-2
        %h2.text-center Alex Pankratz
        %h5.text-muted.text-center.header-desc
          %span The Bride
        %p Photo booth meggings normcore, mustache small batch put a bird on it pickled pork belly PBR.
        %p Try-hard keffiyeh PBR, cold-pressed pork belly fap scenester tousled Shoreditch wolf. Jean shorts Thundercats cardigan hella synth heirloom migas, blog umami bitters aesthetic PBR&B. Mlkshk selfies scenester food truck, Bushwick polaroid banh mi bespoke four dollar toast stumptown XOXO Vice hoodie actually. High Life cronut messenger bag Helvetica, aesthetic meditation forage tilde.

    .row
      .col-sm-6.col-sm-offset-3.story-main
        %h2.text-center The Couple
        %p Dreamcatcher Pinterest try-hard fanny pack, sartorial tofu tousled you probably haven't heard of them distillery master cleanse seitan cliche narwhal. Deep v tote bag flannel butcher organic. Hashtag Banksy taxidermy lo-fi, heirloom YOLO try-hard next level.

        %blockquote.quote-right
          Tumblr Vice, leggings letterpress narwhal Echo Park hoodie Pitchfork YOLO meggings kale chips.

        %p Keffiyeh irony Williamsburg brunch. Chillwave Intelligentsia kale chips, next level swag Shoreditch ugh keffiyeh artisan Pitchfork put a bird on it. Shoreditch craft beer sriracha photo booth Tumblr Vice, leggings letterpress narwhal Echo Park hoodie Pitchfork YOLO meggings kale chips. Swag pop-up Kickstarter keytar, fap Bushwick trust fund meditation Schlitz shabby chic fashion axe meggings. Selvage crucifix chambray authentic, distillery Helvetica PBR 90's. Hella distillery roof party, hoodie organic +1 vegan. Hashtag fingerstache typewriter, cred occupy Austin disrupt photo booth migas yr four dollar toast kogi fixie DIY.

        %blockquote.quote-left
          Shoreditch craft beer sriracha photo booth Tumblr Vice, leggings letterpress narwhal.

        %p Plaid ugh whatever, single-origin coffee Pitchfork Neutra Marfa mumblecore VHS. Intelligentsia slow-carb lumbersexual messenger bag. Next level tousled trust fund, drinking vinegar banjo try-hard Neutra. Trust fund shabby chic fingerstache, bicycle rights cornhole disrupt distillery American Apparel wolf 8-bit tote bag iPhone wayfarers crucifix skateboard.



- # if user_signed_in?
= # link_to "Admin", '/admin'
- # else
= # link_to "Login", new_user_session_path