.header-wrap
  = image_tag "us-jasper-3.jpg", :class => 'header-image'
  .header-overlay
  .header-content.container
    .row
      .col-sm-8.col-sm-offset-2.text-center.header-text
        %h1.title-text
          The Wedding Party
        %p
          This is the place to be if you want to know a little bit more about the people who will be standing there with us!

.page-wrap
  .page-content.container
    .row.story-intro.over-hidden
      .col-sm-4.col-sm-offset-1
        %h2.text-center Stephen's Side


        .party-bio
          %h3.text-center Victor Holowinski
          %h5.text-muted.text-center.header-desc
            %span Best Man

          %p I have had the pleasure of knowing Victor for seven years. We met in youth group and our friendship grew over long talks about music, life, and faith. We were a part of a band together for a few years that saw some amount of local success.
          %p Victor has always been one of the most down to earth people I know. If you ask him a question, he will give you an honest answer. He has always been my go to person to bounce ideas and opinions off of, and I have fond memories of talking about anything and everything until the sunrise.
          %p We haven't seen each other as often as we would like in the last few years thanks to life being what it is. But any time we meet up we can pick up where we left off as though no time has passed, and for that, I am extremely grateful.



        .party-bio
          %h3.text-center Jason Brown
          %h5.text-muted.text-center.header-desc
            %span Groomsman

          %p Jason and I, like virtually all siblings, had a beautiful and perfect childhood relationship with no conflict to be heard of. We never fought bitterly over small issues, and I, as the younger brother, never felt the need to push his buttons whenever possible.
          %p Since growing up enough to develop sibling empathy, we've formed a friendship that would have surprised my younger self. We've gone on a few adventures together, usually involving travel for disc golf, and they have been some of my fondest memories with him. Gone are the days of fighting over everything from chores to snacks to video games (mostly). Now I can happily say that Jason is one of those people I can share basically anything with.


        .party-bio
          %h3.text-center Chris Hellvig
          %h5.text-muted.text-center.header-desc
            %span Groomsman

          %p I met Chris through Emily, shortly after she and Alex moved in together a few years back. We quickly bonded over our shared love of music, science, and video games, and he has since shown to be a solid, supportive friend who is one of the most determined individuals I have ever met.
          %p Chris is one of the few people I know who shares my love and awe of all things space. While living together, we spent many evenings flipping through science documentaries on Netflix and watching and re-watching Cosmos.
          %p While Chris is one of my newer friends, being roommates has brought us together in a fairly short amount of time, and I am very proud to have him stand with me on my wedding day.


        .party-bio
          %h3.text-center Kyle Hollands
          %h5.text-muted.text-center.header-desc
            %span Honorary Groomsman

          %p Kyle and I have been friends since grade 8 when his family moved into the area. We bonded fairly quickly due to our shared interests and have shared a lot of fantastic memories together. Kyle is the kind of friend who will call you late at night to tell you he's outside your door with some friends and wants to go to Denny's.
          %p While our lives have changed a lot since the early years of our friendship, Kyle is still someone I can call and catch up with like nothing, and he is always there to listen, lend advice, or suggest an impromptu adventure.



      .vertical-divider
      .col-sm-4.col-sm-offset-2
        %h2.text-center Alex's Side

        .party-bio
          %h3.text-center Emily Sigvaldason
          %h5.text-muted.text-center.header-desc
            %span Maid of Honour

          %p Emily and I met through mutual friends when we were kids but, due to extreme shyness, we never really spoke until we were much older. Once we got past the initial awkwardness of two shy people trying to get to know each other, we discovered striking similarities about basically every aspect of our lives: personality, likes and dislikes, childhood experiences… We’re so similar that it’s actually kind of weird.
          %p After living together for nearly 2 and a half years, it’s pretty safe to say that we know each other extremely well. Emily is one of the most supportive and caring people I’ve ever met - in fact, she’s often too caring for her own good. I can talk to her about basically anything and every time we hang out we have a ton of fun - and usually a ton of food as well!



        .party-bio
          %h3.text-center Mackenzie Pankratz
          %h5.text-muted.text-center.header-desc
            %span Bridesman

          %p I have known Mackenzie for his entire life&hellip; because he’s my brother. Like most siblings, our relationship as kids was not the best, partly due to me constantly excluding him and partly due to him constantly annoying me (which came first, I wonder?).

          %p Thankfully, those days are now over and I now consider him to be one of my closest friends. Nobody really understands your “unique” sense of humour like your sibling does, so a lot of our time together is spent making each other laugh about things nobody else would find funny. He’s also one of the most trustworthy people I know; I can (and have!) talked to him about anything and everything, and he can always be counted on for unbiased advice and honest opinions.



        .party-bio
          %h3.text-center Patricia Di Pinto
          %h5.text-muted.text-center.header-desc
            %span Bridesmaid

          %p Patricia and I got to know each other while we were attending the same design program at NAIT; she needed to vent to someone, and I happened to be a good listener! We continued to bond throughout our (extremely challenging) program and another one after that - leaving plenty of time for her to return the venting favour! As self-proclaimed perfectionists and occasional workaholics, we understood each other’s priorities very well and provided much needed support during and after our schooling.

          %p Patricia is incredibly kind, warm hearted and generous; she could actually stand to be a bit LESS kind sometimes! I know I can always count on her for a good laugh and a listening ear, and I consider myself very lucky to have her as a friend.


        .party-bio
          %h3.text-center Kyla Mosher
          %h5.text-muted.text-center.header-desc
            %span Honorary Bridesmaid

          %p Kyla and I met through our families when we were quite young, but didn’t actually become friends until much later. She always seemed to be hanging out with the adults, which I found intimidating, and I was always hanging out with her younger sister, Sabrina, which she found odd. When we finally actually started talking to each other, we connected quickly and started spending a ton of time together. After countless sleepovers, afternoon adventures, and coffee dates, Kyla and I know each other ridiculously well and have so many inside jokes I’m sure we’ve forgotten at least half of them.

          %p Kyla and her husband, Kyle, are expecting their first child to arrive right around our wedding date so she was unable to be in our wedding party. However, I was honoured to be in her wedding party and am so happy she’ll be attending as a guest!
