.alert-wrap {
  position: fixed;
  top: 130px;
  width: 100%;
  left: 0;
  z-index: 100;

  p {
    position: relative;
  }

  .close-alert {
    @include transition();
    position: absolute;
    top: 15px;
    right: 25px;
    border: none;
    background: none;

    &:hover {
      color: $grey;
    }
  }
}