.btn,
.btn-group .btn {
  @include transition();
  @include header-font-stack;
  text-transform: uppercase;
  padding: 10px 15px;
  font-weight: 600;
  background: none;
  border: 2px solid $teal;
  color: $teal;

  &:hover {
    background: $teal;
    color: #fff;
  }
  
  &.btn-default {
    background: none;
    border: 2px solid $teal;
    color: $teal;

    &:hover {
      background: $teal;
      color: #fff;
      border-color: $teal;
    }
  }

  &.btn-secondary {
    background: none;
    border: 2px solid #fff;
    color: #fff;

    &:hover {
      background: #fff;
      color: $teal;
    }
  }
}
